# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = tab
tab_width = 4
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# MA0004: Use Task.ConfigureAwait(false)
dotnet_diagnostic.MA0004.severity = none

# MA0053: Make class sealed
dotnet_diagnostic.MA0053.severity = error

# Report public classes without inheritors (default: false)
MA0053.public_class_should_be_sealed = true

# Report class without inheritors even if there is virtual members (default: false)
MA0053.class_with_virtual_member_shoud_be_sealed = true

# MA0097: A class that implements IComparable<T> or IComparable should override comparison operators
dotnet_diagnostic.MA0097.severity = none

# SA0001: XML comment analysis is disabled due to project configuration
dotnet_diagnostic.SA0001.severity = none

# SA1600: Elements must be documented.
dotnet_diagnostic.SA1600.severity = none

# SA1601: Partial elements must be documented.
dotnet_diagnostic.SA1601.severity = none

# SA1633: File must have header.
dotnet_diagnostic.SA1633.severity = none

# SA1200: Using directive should appear within a namespace declaration.
dotnet_diagnostic.SA1200.severity = none
