root = true

[*]
indent_style = tab
indent_size = 2
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# SA0001: XML comment analysis is disabled due to project configuration
dotnet_diagnostic.SA0001.severity = none

# SA1600: Elements must be documented.
dotnet_diagnostic.SA1600.severity = none

# SA1633: File must have header.
dotnet_diagnostic.SA1633.severity = none

# SA1200: Using directive should appear within a namespace declaration.
dotnet_diagnostic.SA1200.severity = none